<article>
  <div class="m-3 border-bottom">
    <h1>Twitter Like</h1>
  </div>
  <div class="m-3">
    <!-- トップページからのリンク -->
    <% if ! signed_in? %>
    <%= link_to 'sign in', new_user_session_path %>
    <span>&nbsp;|&nbsp;</span>
    <%= link_to 'sign up', new_user_registration_path %>
    <% end %>
  </div>
  <div style="word-wrap: break-word;">
    <p>
      Twitter Like は、アメリカ合衆国・カリフォルニア州サンフランシスコに本社を置くTwitter Like, Inc.のソーシャル・ネットワーキング・サービス。「ツイーテァ」と呼ばれるメッセージを投稿できる。
    </p>
  </div>
</article>
