<p id="notice"><%= notice %></p>
<div class="m-3 border-bottom">
  <h1>My Favorite</h1>
</div>
<p>
  <strong>User:</strong>
  <%= @favo.user_id %>
</p>

<p>
  <strong>Tweet:</strong>
  <%= @favo.tweet_id %>
</p>
