<article>
  <div class="m-3 border-bottom">
    <h1>My Page</h1>
  </div>
  <div>
    <div class="m-3">
      <h5>Your Profile</h5>
    </div>
    <div>
      <p>id&nbsp;:&nbsp;<%= current_user.id %></p>
      <p>name&nbsp;:&nbsp;<%= current_user.username %></p>
      <p>tweet &nbsp; : &nbsp; 148290 </p>
      <p>follow &nbsp; : &nbsp; 255</p>
      <p>follower &nbsp; : &nbsp; 245</p>
    </div>
    <div class="m-3">
</article>
