<article>
  <div class="m-3 border-bottom">
    <h1>My Page</h1>
  </div>
  <div>
    <div class="m-3">
      <p><%= current_user.username %></p>
      <p><a href="/tweets"> tweet &nbsp; : &nbsp; <%= @tweets_num %></a></p>
      <p><a href="/follows/index"> follow &nbsp; : &nbsp; <%= @follow_num %></a></p>
      <p><a href="/followers/index"> follower &nbsp; : &nbsp; <%= @follower_num %></a></p>
    </div>
  </div>
</article>
