<article>
  <div class="m-3 border-bottom">
    <h1>Your Tweet</h1>
  </div>
  <div>
    <div class="m-3">
      <h5>Your tweet</h5>
    </div>
    <div class="text-left" style="word-wrap: break-word;">
      <h6>2018.11.18.05:18</h6>
      <p>
        あのさ 明日の女子会コース 電話では メッセージプレートはお誕生日の方で 他の人は小さなデザートが付く(ただしケーキかジェラートかは当日までわからない、とフジイと名乗る店員さんが言っていたのだがさ女子会￥3000コースのメニュー見返してみたら デザート書いてないのだが、明日 「デザート付くって確認したんだけど〜」って言ってみていいかな？
      </p>
      <h6>2018.11.18.05:14</h6>
      <p>
        ￥3000コースのメニュー見返してみたら デザート書いてないのだが、明日 「デザート付くって確認したんだけど〜」って言ってみていいかな？
      </p>
    </div>
  </div>
</article>
