<article>
  <div class="m-3 border-bottom">
    <h1>All Users</h1>
  </div>
  <div>
  <div class="m-3">
    <div class="m-3">
      <h5>name</h5>
    </div>
  </div>
    <% @users.each do |user| %>
      <p><a href=""><%= user.username %></a></p>
    <% end %>
  </div>

</article>
